:root {
  --theme-component-rgb-diffuser-color: oklch(1 0 0 / 0%);
  --theme-component-rgb-diffuser-blur-length: 0.5rem;

  /* Header */
  --theme-component-header-background-color: var(--theme-color-neutral-800);
  --theme-component-header-border-color--normal: var(--theme-color-neutral-700);
  --theme-component-header-border-color--hover: var(--theme-color-neutral-600);

  /* Developer */
  --theme-component-developer-name-text-color: var(--theme-color-neutral-200);
  --theme-component-developer-name-text-color--hover: var(
    --theme-color-neutral-100
  );
  --theme-component-developer-job-title-text-color: var(
    --theme-color-neutral-300
  );

  /* Hero Section */
  --theme-component-hero-section-background-color: var(
    --theme-color-neutral-800
  );
  --theme-component-hero-section-title-text-color: var(
    --theme-color-neutral-400
  );
  --theme-component-hero-section-description-text-color: var(
    --theme-color-neutral-300
  );
  --theme-component-hero-section-border-color: var(
    --theme-component-header-border-color--normal
  );

  /* Sections */
  --theme-component-section-background-color: var(--theme-color-neutral-900);
  --theme-component-section-heading-text-color: var(--theme-color-neutral-400);
  --theme-component-section-heading-icon-color: var(--theme-color-neutral-500);

  /* Skills */
  --theme-component-skill-card-background-color: var(--theme-color-neutral-900);
  --theme-component-skill-card-border-color--normal: var(
    --theme-color-neutral-800
  );
  --theme-component-skill-card-border-color--hover: var(
    --theme-color-neutral-700
  );
  --theme-component-skill-icon-color--normal: var(--theme-color-neutral-400);
  --theme-component-skill-icon-color--hover: var(--theme-color-neutral-300);
  --theme-component-skill-label-text-color--normal: var(
    --theme-color-neutral-300
  );
  --theme-component-skill-label-text-color--hover: var(
    --theme-color-neutral-200
  );

  /* Education and Work Experience */
  --theme-component-education-and-work-experience-title-text-color: var(
    --theme-color-neutral-300
  );
  --theme-component-education-and-work-experience-date-range-text-color: var(
    --theme-color-neutral-300
  );
  --theme-component-education-provider-and-company-name-text-color: var(
    --theme-color-neutral-200
  );
  --theme-component-education-provider-and-company-location-text-color: var(
    --theme-color-neutral-200
  );

  /* Education Section */
  --theme-component-education-grade-text-color: var(--theme-color-neutral-100);

  /* Work Experience */
}
