:root {
  --theme-component-rgb-diffuser-color: oklch(1 0 0 / 0%);
  --theme-component-rgb-diffuser-blur-length: 0.5rem;

  /* Header */
  --theme-component-header-background-color: var(--theme-color-neutral-900);
  --theme-component-header-normal-border-color: var(--theme-color-neutral-700);

  /* Developer */
  --theme-component-developer-name-text-color: var(--theme-color-neutral-300);
  --theme-component-developer-name-text-color--hover: var(
    --theme-color-neutral-200
  );
  --theme-component-developer-job-title-text-color: var(
    --theme-color-neutral-400
  );
}
