/* Neutral colors */
:root {
  --theme-color-neutral-50: oklch(98.5% 0 0);
  --theme-color-neutral-100: oklch(97% 0 0);
  --theme-color-neutral-150: color-mix(
    in oklch,
    var(--theme-color-neutral-100),
    var(--theme-color-neutral-200)
  );
  --theme-color-neutral-200: oklch(92.2% 0 0);
  --theme-color-neutral-250: color-mix(
    in oklch,
    var(--theme-color-neutral-200),
    var(--theme-color-neutral-300)
  );
  --theme-color-neutral-300: oklch(87% 0 0);
  --theme-color-neutral-350: color-mix(
    in oklch,
    var(--theme-color-neutral-300),
    var(--theme-color-neutral-400)
  );
  --theme-color-neutral-400: oklch(70.8% 0 0);
  --theme-color-neutral-450: color-mix(
    in oklch,
    var(--theme-color-neutral-400),
    var(--theme-color-neutral-500)
  );
  --theme-color-neutral-500: oklch(55.6% 0 0);
  --theme-color-neutral-550: color-mix(
    in oklch,
    var(--theme-color-neutral-500),
    var(--theme-color-neutral-600)
  );
  --theme-color-neutral-600: oklch(43.9% 0 0);
  --theme-color-neutral-650: color-mix(
    in oklch,
    var(--theme-color-neutral-600),
    var(--theme-color-neutral-700)
  );
  --theme-color-neutral-700: oklch(37.1% 0 0);
  --theme-color-neutral-750: color-mix(
    in oklch,
    var(--theme-color-neutral-700),
    var(--theme-color-neutral-800)
  );
  --theme-color-neutral-800: oklch(26.9% 0 0);
  --theme-color-neutral-850: color-mix(
    in oklch,
    var(--theme-color-neutral-800),
    var(--theme-color-neutral-900)
  );
  --theme-color-neutral-900: oklch(20.5% 0 0);
  --theme-color-neutral-950: oklch(14.5% 0 0);
}

/* Accent colors A */
:root {
  --theme-color-accent-a-50: oklch(97.1% 0.013 17.38);
  --theme-color-accent-a-100: oklch(93.6% 0.032 17.717);
  --theme-color-accent-a-150: color-mix(
    in oklch,
    var(--theme-color-accent-a-100),
    var(--theme-color-accent-a-200)
  );
  --theme-color-accent-a-200: oklch(88.5% 0.062 18.334);
  --theme-color-accent-a-250: color-mix(
    in oklch,
    var(--theme-color-accent-a-200),
    var(--theme-color-accent-a-300)
  );
  --theme-color-accent-a-300: oklch(80.8% 0.114 19.571);
  --theme-color-accent-a-350: color-mix(
    in oklch,
    var(--theme-color-accent-a-300),
    var(--theme-color-accent-a-400)
  );
  --theme-color-accent-a-400: oklch(70.4% 0.191 22.216);
  --theme-color-accent-a-450: color-mix(
    in oklch,
    var(--theme-color-accent-a-400),
    var(--theme-color-accent-a-500)
  );
  --theme-color-accent-a-500: oklch(63.7% 0.237 25.331);
  --theme-color-accent-a-550: color-mix(
    in oklch,
    var(--theme-color-accent-a-500),
    var(--theme-color-accent-a-600)
  );
  --theme-color-accent-a-600: oklch(57.7% 0.245 27.325);
  --theme-color-accent-a-650: color-mix(
    in oklch,
    var(--theme-color-accent-a-600),
    var(--theme-color-accent-a-700)
  );
  --theme-color-accent-a-700: oklch(50.5% 0.213 27.518);
  --theme-color-accent-a-750: color-mix(
    in oklch,
    var(--theme-color-accent-a-700),
    var(--theme-color-accent-a-800)
  );
  --theme-color-accent-a-800: oklch(44.4% 0.177 26.899);
  --theme-color-accent-a-850: color-mix(
    in oklch,
    var(--theme-color-accent-a-800),
    var(--theme-color-accent-a-900)
  );
  --theme-color-accent-a-900: oklch(39.6% 0.141 25.723);
  --theme-color-accent-a-950: oklch(25.8% 0.092 26.042);
}

/* Accent colors B */
:root {
  --theme-color-accent-b-50: oklch(98.2% 0.018 155.826);
  --theme-color-accent-b-100: oklch(96.2% 0.044 156.743);
  --theme-color-accent-b-150: color-mix(
    in oklch,
    var(--theme-color-accent-b-100),
    var(--theme-color-accent-b-200)
  );
  --theme-color-accent-b-200: oklch(92.5% 0.084 155.995);
  --theme-color-accent-b-250: color-mix(
    in oklch,
    var(--theme-color-accent-b-200),
    var(--theme-color-accent-b-300)
  );
  --theme-color-accent-b-300: oklch(87.1% 0.15 154.449);
  --theme-color-accent-b-350: color-mix(
    in oklch,
    var(--theme-color-accent-b-300),
    var(--theme-color-accent-b-400)
  );
  --theme-color-accent-b-400: oklch(79.2% 0.209 151.711);
  --theme-color-accent-b-450: color-mix(
    in oklch,
    var(--theme-color-accent-b-400),
    var(--theme-color-accent-b-500)
  );
  --theme-color-accent-b-500: oklch(72.3% 0.219 149.579);
  --theme-color-accent-b-550: color-mix(
    in oklch,
    var(--theme-color-accent-b-500),
    var(--theme-color-accent-b-600)
  );
  --theme-color-accent-b-600: oklch(62.7% 0.194 149.214);
  --theme-color-accent-b-650: color-mix(
    in oklch,
    var(--theme-color-accent-b-600),
    var(--theme-color-accent-b-700)
  );
  --theme-color-accent-b-700: oklch(52.7% 0.154 150.069);
  --theme-color-accent-b-750: color-mix(
    in oklch,
    var(--theme-color-accent-b-700),
    var(--theme-color-accent-b-800)
  );
  --theme-color-accent-b-800: oklch(44.8% 0.119 151.328);
  --theme-color-accent-b-850: color-mix(
    in oklch,
    var(--theme-color-accent-b-800),
    var(--theme-color-accent-b-900)
  );
  --theme-color-accent-b-900: oklch(39.3% 0.095 152.535);
  --theme-color-accent-b-950: oklch(26.6% 0.065 152.934);
}

/* Accent colors C */
:root {
  --theme-color-accent-c-50: oklch(97.7% 0.013 236.62);
  --theme-color-accent-c-100: oklch(95.1% 0.026 236.824);
  --theme-color-accent-c-150: color-mix(
    in oklch,
    var(--theme-color-accent-c-100),
    var(--theme-color-accent-c-200)
  );
  --theme-color-accent-c-200: oklch(90.1% 0.058 230.902);
  --theme-color-accent-c-250: color-mix(
    in oklch,
    var(--theme-color-accent-c-200),
    var(--theme-color-accent-c-300)
  );
  --theme-color-accent-c-300: oklch(82.8% 0.111 230.318);
  --theme-color-accent-c-350: color-mix(
    in oklch,
    var(--theme-color-accent-c-300),
    var(--theme-color-accent-c-400)
  );
  --theme-color-accent-c-400: oklch(74.6% 0.16 232.661);
  --theme-color-accent-c-450: color-mix(
    in oklch,
    var(--theme-color-accent-c-400),
    var(--theme-color-accent-c-500)
  );
  --theme-color-accent-c-500: oklch(68.5% 0.169 237.323);
  --theme-color-accent-c-550: color-mix(
    in oklch,
    var(--theme-color-accent-c-500),
    var(--theme-color-accent-c-600)
  );
  --theme-color-accent-c-600: oklch(58.8% 0.158 241.966);
  --theme-color-accent-c-650: color-mix(
    in oklch,
    var(--theme-color-accent-c-600),
    var(--theme-color-accent-c-700)
  );
  --theme-color-accent-c-700: oklch(50% 0.134 242.749);
  --theme-color-accent-c-750: color-mix(
    in oklch,
    var(--theme-color-accent-c-700),
    var(--theme-color-accent-c-800)
  );
  --theme-color-accent-c-800: oklch(44.3% 0.11 240.79);
  --theme-color-accent-c-850: color-mix(
    in oklch,
    var(--theme-color-accent-c-800),
    var(--theme-color-accent-c-900)
  );
  --theme-color-accent-c-900: oklch(39.1% 0.09 240.876);
  --theme-color-accent-c-950: oklch(29.3% 0.066 243.157);
}
