@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', sans-serif;
}

@layer base {
}

@layer base {
  body {
    @apply min-h-screen font-sans;
  }
}

@utility text-fill-color-transparent {
  -webkit-text-fill-color: transparent;
}

@utility animation-duration-* {
  animation-duration: calc(--value(integer) * 1ms);
}
